<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>addApplicant</servlet-name>
        <servlet-class>controller.addApplicant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTicket</servlet-name>
        <servlet-class>controller.addTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addKPI</servlet-name>
        <servlet-class>controller.addKPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPRT</servlet-name>
        <servlet-class>controller.addPRT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>results</servlet-name>
        <servlet-class>controller.results</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalDecision</servlet-name>
        <servlet-class>controller.finalDecision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTicket</servlet-name>
        <servlet-class>controller.updateTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfile</servlet-name>
        <servlet-class>controller.viewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllEmployees</servlet-name>
        <servlet-class>controller.GetAllEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllClients</servlet-name>
        <servlet-class>controller.GetAllClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmployeesByClient</servlet-name>
        <servlet-class>controller.GetEmployeesByClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewEmployeeProfile</servlet-name>
        <servlet-class>ChartsServlet.viewEmployeeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewApplicantProfile</servlet-name>
        <servlet-class>ChartsServlet.viewApplicantProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPerformanceDashboard</servlet-name>
        <servlet-class>ChartsServlet.viewPerformanceDashboard_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewClientPerformanceDashboard</servlet-name>
        <servlet-class>ChartsServlet.viewClientPerformanceDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPerformanceD</servlet-name>
        <servlet-class>ChartsServlet.viewPerformanceD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPerformanceClientBar</servlet-name>
        <servlet-class>ChartsServlet.viewPerformanceClientBar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPerformanceDD</servlet-name>
        <servlet-class>controller.viewPerformanceDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewLicensePie</servlet-name>
        <servlet-class>ChartsServlet.viewLicensePie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAllocaiton</servlet-name>
        <servlet-class>controller.addAllocaiton</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAllocation</servlet-name>
        <servlet-class>controller.addAllocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewApplicantsHired</servlet-name>
        <servlet-class>ChartsServlet.viewApplicantsHired</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewApplicantBar</servlet-name>
        <servlet-class>ChartsServlet.viewApplicantBar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewApplicantPlaces</servlet-name>
        <servlet-class>ChartsServlet.viewApplicantPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getKPIperclient</servlet-name>
        <servlet-class>controller.getKPIperclient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPMperKPI</servlet-name>
        <servlet-class>controller.getPMperKPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initialDecision</servlet-name>
        <servlet-class>controller.initialDecision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewEmployeeGrade</servlet-name>
        <servlet-class>ChartsServlet.viewEmployeeGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllEmployeeInfo</servlet-name>
        <servlet-class>controller.GetAllEmployeeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>controller.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewClientGrade</servlet-name>
        <servlet-class>ChartsServlet.viewClientGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewClientEmployeeGrade</servlet-name>
        <servlet-class>ChartsServlet.viewClientEmployeeGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartRedirect</servlet-name>
        <servlet-class>ChartsServlet.ChartRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTickets</servlet-name>
        <servlet-class>controller.GetAllTickets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addApplicant</servlet-name>
        <url-pattern>/addApplicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTicket</servlet-name>
        <url-pattern>/addTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addKPI</servlet-name>
        <url-pattern>/addKPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPRT</servlet-name>
        <url-pattern>/addPRT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>results</servlet-name>
        <url-pattern>/results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalDecision</servlet-name>
        <url-pattern>/finalDecision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTicket</servlet-name>
        <url-pattern>/updateTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllEmployees</servlet-name>
        <url-pattern>/GetAllEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllClients</servlet-name>
        <url-pattern>/GetAllClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeesByClient</servlet-name>
        <url-pattern>/GetEmployeesByClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewEmployeeProfile</servlet-name>
        <url-pattern>/viewEmployeeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewApplicantProfile</servlet-name>
        <url-pattern>/viewApplicantProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPerformanceDashboard</servlet-name>
        <url-pattern>/viewPerformanceDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewClientPerformanceDashboard</servlet-name>
        <url-pattern>/viewClientPerformanceDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPerformanceD</servlet-name>
        <url-pattern>/viewPerformanceD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPerformanceClientBar</servlet-name>
        <url-pattern>/viewPerformanceClientBar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPerformanceDD</servlet-name>
        <url-pattern>/viewPerformanceDD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewLicensePie</servlet-name>
        <url-pattern>/viewLicensePie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAllocaiton</servlet-name>
        <url-pattern>/addAllocaiton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAllocation</servlet-name>
        <url-pattern>/addAllocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewApplicantsHired</servlet-name>
        <url-pattern>/viewApplicantsHired</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewApplicantBar</servlet-name>
        <url-pattern>/viewApplicantBar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewApplicantPlaces</servlet-name>
        <url-pattern>/viewApplicantPlaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getKPIperclient</servlet-name>
        <url-pattern>/getKPIperclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPMperKPI</servlet-name>
        <url-pattern>/getPMperKPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initialDecision</servlet-name>
        <url-pattern>/initialDecision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewEmployeeGrade</servlet-name>
        <url-pattern>/viewEmployeeGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllEmployeeInfo</servlet-name>
        <url-pattern>/GetAllEmployeeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewClientGrade</servlet-name>
        <url-pattern>/viewClientGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewClientEmployeeGrade</servlet-name>
        <url-pattern>/viewClientEmployeeGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartRedirect</servlet-name>
        <url-pattern>/ChartRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTickets</servlet-name>
        <url-pattern>/GetAllTickets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
